// ----------
html,
body {
    width: 100%;
    height: 100%;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
    color: $color-white;
}
h1 {
    margin-bottom: 2rem;
    font-size: 3.6rem;
    font-family: "Exo 2.0", sans-serif;
    font-weight: 100;
    text-align: center;
    color: $color-white;
}
// ----------
.l-wrap {
    display: flex;
    @include crapie() {
        display: table;
    }
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background:  linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%), url('../images/bg-pattern.png') 50% 50% repeat, #000000;

    .wrap {
        &__inner {
            padding-left: 20px;
            padding-right: 20px;
            margin: auto;
            width: 100%;
            max-width: 1160px;
            box-sizing: border-box;
            @include crapie() {
                display: table-cell;
                vertical-align:middle 
            }
        }
    }
}
// ----------
$block-name: cats;
.b-cats {
    .cats {
        &__items {
            margin-left: -40px;
            margin-right: -40px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        &__item {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            display: flex;
            flex-flow: column nowrap;
            flex: none;
            width: 100%;
            box-sizing: border-box;

            @media (min-width: $screen-tablet) {
                width: 50%;
            }
            @media (min-width: $screen-desktop) {
                width: 33.33%;
            }

            & > input {
                display: none;
            }
        }
        &__card {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            flex: 1 auto;
            position: relative;
            z-index: 1;
            line-height: 1.2;
            cursor: pointer;

            &::after {
                content: '';
                display: block;
                border-radius: 10px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background: linear-gradient(135deg, transparent 30px, $color-default 0) top left;
            }
            &::before {
               content: '';
               display: block;
               border-radius: 8px;
               position: absolute;
               top: 4px;
               left: 4px;
               z-index: -1;
               width: calc(100% - 8px);
               height: calc(100% - 8px);
               box-sizing: border-box;
               background: linear-gradient(135deg, transparent 30px, #fff 0) top left;
            }
            &:hover::after {
                background: linear-gradient(135deg, transparent 30px, $color-default-hover 0) top left;
            }
        }
        &__subtitle-no {
            display: none;
            color: $color-checked-hover;
        }
        &__title {
            font-size: 4.8rem;
            font-weight: bold;
            color: $color-black;
        }
        &__with {
            font-size: 2.4rem;
            font-weight: bold;
            color: $color-black;
        }
        &__options {
            padding-top: 15px;
        }
        &__weight {
            position: absolute;
            bottom: 15px;
            right: 15px;
            z-index: 1;
            width: 80px;
            height: 80px;
            overflow: hidden;
            background-color: $color-default;
            border-radius: 1000px;
            text-align: center;
            line-height: 80px;
            font-size: 2.1rem;

            span {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                line-height: 1;
            }
            ins {
                display: block;
                text-decoration: none;
                line-height: 0.9;
                font-size: 4.2rem;
            }
        }
        &__messages {
            padding-top: 15px;
            text-align: center;
        }
        &__message {
            display: none;
            font-size: 1.3rem;

            &--default {
                display: block;
            }
            &--disabled {
                color: $color-yellow;
            }

            label {
                border-bottom: 1px dashed $color-default;
                color: $color-default;
                cursor: pointer;

                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }

        // checked
        &__item input:checked { 
            ~ .#{$block-name}__card::after {
                background: linear-gradient(135deg, transparent 30px, $color-checked 0) top left;
            }
            ~ .#{$block-name}__card:not(.cats__card--nohover):hover::after  {
                background: linear-gradient(135deg, transparent 30px, $color-checked-hover 0) top left;
            }
            ~ .#{$block-name}__card .#{$block-name}__weight {
                background-color: $color-checked;
            }
            ~ .#{$block-name}__card:not(.cats__card--nohover):hover .#{$block-name}__weight {
                background-color: $color-checked-hover;
            }
            ~ .#{$block-name}__card:not(.cats__card--nohover):hover .#{$block-name}__subtitle {
                display: none;
            }
            ~ .#{$block-name}__card:not(.cats__card--nohover):hover .#{$block-name}__subtitle-no {
                display: block;
            }
            ~ .#{$block-name}__messages .#{$block-name}__message {
                display: none;

                &--checked {
                    display: block;
                }
            }
        }

        // disabled
        &__item input:disabled {
            ~ .#{$block-name}__card {
                cursor: default;

                .#{$block-name}__pic {
                    opacity: 0.5;
                }
            }
            ~ .#{$block-name}__card::after {
                background: linear-gradient(135deg, transparent 30px, $color-disabled 0) top left;
            }
            ~ .#{$block-name}__card:hover::after  {
                background: linear-gradient(135deg, transparent 30px, $color-disabled 0) top left;
            }
            ~ .#{$block-name}__card .#{$block-name}__content {
                opacity: 0.5;
                color: $color-disabled;
            }
            ~ .#{$block-name}__card .#{$block-name}__title,
            ~ .#{$block-name}__card .#{$block-name}__with {
                color: $color-disabled;
            }
            ~ .#{$block-name}__card .#{$block-name}__content {
                opacity: 0.5;
            }
            ~ .#{$block-name}__card .#{$block-name}__weight {
                background-color: $color-disabled;
            }
            ~ .#{$block-name}__messages .#{$block-name}__message {
                display: none;

                &--disabled {
                    display: block;
                }
            }
              
        }

        &__content {
            padding: 20px 50px 0;
            color: #666666;
        }
        &__pic {
            padding: 20px 4px 4px;
            @include crapie() {
                padding-top: calc(100% + 20px);
            }

            img {
                border-radius: 10px;
                max-width: 100%;
                @include crapie() {
                    position: absolute;
                    left: 4px;
                    bottom: 4px;
                    width: calc(100% - 8px);
                }
            }
        }
    }
}
// ----------