<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/main.css")
    body
        h1 Hello world!
        p Lorem ipsum dolor
        p 
            img(src="images/est-porsche.jpg", alt="images")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quidem.