<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Накорми кота!
        link(rel="stylesheet", href="css/main.css")
    body
        .l-wrap
            .wrap__inner
                h1 Ты сегодня покормил кота?
                .b-cats
                    .cats__items
                        //- todo Попробовать сделать циклом
                        .cats__item
                            input.js-checkbox(type="checkbox", id="cat-1")
                            label.cats__card.js-card(for="cat-1")
                                .cats__content
                                    .cats__subtitle Сказочное заморское яство
                                    .cats__subtitle-no Котэ не одобряет?
                                    .cats__title Нямушка
                                    .cats__with с фуа-гра
                                    ul.cats__options
                                        li 
                                            strong 10 
                                            |  порций
                                        li мышь в подарок
                                .cats__weight
                                    span
                                        ins 0,5
                                        | кг
                                .cats__pic
                                    picture
                                        source(srcset="images/cat-face.webp" type="image/webp")
                                        source(srcset="images/cat-face.png" type="image/png")
                                        img(src="images/cat-face.png" alt="cat-face")
                            .cats__messages
                                .cats__message.cats__message--default 
                                    | Чего сидишь? Порадуй котэ, 
                                    label(for="cat-1") купи
                                    | .
                                .cats__message.cats__message--checked 
                                    | Печень утки разварная с артишоками.
                                .cats__message.cats__message--disabled 
                                    | Печалька, с фуа-гра закончился.

                        .cats__item
                            input.js-checkbox(type="checkbox", id="cat-2", checked)
                            label.cats__card.js-card(for="cat-2")
                                .cats__content
                                    .cats__subtitle Сказочное заморское яство
                                    .cats__subtitle-no Котэ не одобряет?
                                    .cats__title Нямушка
                                    .cats__with с рыбой
                                    ul.cats__options
                                        li 
                                            strong 40
                                            |  порций
                                        li 
                                            strong 2
                                            |  мыши в подарок
                                .cats__weight
                                    span
                                        ins 2
                                        | кг
                                .cats__pic
                                    picture
                                        source(srcset="images/cat-face.webp" type="image/webp")
                                        source(srcset="images/cat-face.png" type="image/png")
                                        img(src="images/cat-face.png" alt="cat-face")
                            .cats__messages
                                .cats__message.cats__message--default 
                                    | Чего сидишь? Порадуй котэ, 
                                    label(for="cat-2") купи
                                    | .
                                .cats__message.cats__message--checked 
                                    | Головы щучьи с чесноком да свежайшая сёмгушка.
                                .cats__message.cats__message--disabled 
                                    | Печалька, с рыбой закончился.
                                    
                        .cats__item
                            input.js-checkbox(type="checkbox", id="cat-3", disabled)
                            label.cats__card.js-card(for="cat-3")
                                .cats__content
                                    .cats__subtitle Сказочное заморское яство
                                    .cats__subtitle-no Котэ не одобряет?
                                    .cats__title Нямушка
                                    .cats__with с курой
                                    ul.cats__options
                                        li 
                                            strong 100
                                            |  порций
                                        li 
                                            strong 5
                                            |  мышей в подарок
                                        li заказчик доволен
                                .cats__weight
                                    span
                                        ins 5
                                        | кг
                                .cats__pic
                                    picture
                                        source(srcset="images/cat-face.webp" type="image/webp")
                                        source(srcset="images/cat-face.png" type="image/png")
                                        img(src="images/cat-face.png" alt="cat-face")
                            .cats__messages
                                .cats__message.cats__message--default 
                                    | Чего сидишь? Порадуй котэ, 
                                    label(for="cat-3") купи
                                    | .
                                .cats__message.cats__message--checked 
                                    | Филе из цыплят с трюфелями в бульоне.
                                .cats__message.cats__message--disabled 
                                    | Печалька, с курой закончился.

        script(src="js/main.js")