<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/main.css")
    body
        h1 Hello world!
        p Lorem ipsum dolor
        p 
            img(src="images/est-porsche.jpg", alt="images")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, quidem.
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem error nam culpa autem aperiam natus, explicabo maiores nesciunt, necessitatibus perferendis in est ducimus facilis odio delectus aspernatur soluta? Cumque repellendus necessitatibus corrupti minima non. Possimus delectus quo quisquam sit? Tenetur harum temporibus doloremque, inventore sit deleniti assumenda alias quod ducimus blanditiis. Quas sequi non dolor ducimus error dolore, ipsum itaque vitae soluta aliquam, eum veritatis veniam nemo illum cum labore perferendis ea quaerat et cumque a incidunt odit quibusdam nisi? Rem consequatur velit nam voluptate atque labore illo dicta exercitationem aliquam aut soluta quia perferendis natus, necessitatibus voluptas in tenetur.
        p Amet, natus vero? Est nesciunt enim, provident optio deleniti a mollitia tempore reiciendis, eaque, placeat ab commodi quidem quasi nihil sint nulla debitis tempora error sit veritatis. Odit, soluta! Suscipit blanditiis facilis iste recusandae aliquam eligendi sapiente, ab ducimus, voluptatem distinctio quia libero quod dolores eum facere nemo rerum dolore voluptates neque. Esse totam nostrum saepe temporibus sapiente in qui natus tenetur nam, dolorum, placeat a. Vitae illo eum ab! Recusandae explicabo libero ut eos modi unde. Accusantium sed harum, facere ex tempore consequuntur dolores. Nobis hic rerum quisquam architecto et neque quaerat quos debitis ad, natus dolorem nulla accusamus?
        p Provident unde dolores quos illum magnam consequuntur ipsa. Unde eligendi, exercitationem in eius consequuntur inventore fugit doloremque debitis, cupiditate nesciunt illo quis corporis! Ipsam voluptatibus quos exercitationem nesciunt corporis adipisci expedita quod natus, velit aliquam doloribus mollitia culpa in accusantium tempore inventore facilis illo voluptatem cumque. Sequi itaque saepe modi veritatis veniam fuga cum excepturi, ab nihil id, culpa iusto ipsam amet, nulla hic facilis quae ducimus molestiae ipsum nemo tempora tempore eos neque. Animi expedita enim odit eligendi. Blanditiis temporibus quaerat molestiae optio cumque? Laudantium nobis inventore amet dolores, laboriosam neque temporibus incidunt ducimus, id, molestiae repellendus officia itaque!